.tabs-container {
  padding: 40px 40px 150px 40px;
}

.title1 {
  font-size: 32px;
  margin-bottom: 1rem;
}

.tabs {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
  border-bottom: 2px solid #eee;
  padding-bottom: 0.5rem;
}

.tab-button {
  background: none;
  border: none;
  padding: 0.5rem 1rem;
  font-weight: bold;
  cursor: pointer;
  color: #888;
  border-bottom: 3px solid transparent;
  transition: all 0.2s ease;
}

.tab-button.active {
  color: var(--red);
  border-color: var(--red);
  background-color: #fdd;
}

.tab-button:hover {
    color: var(--red);
}

.tab-content {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.left {
  flex: 2;
  max-width: 60%;
}

.left p {
  margin: 1rem 0;
  line-height: 1.5;
}

.right {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: end;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .left {
    max-width: 100%;
  }

  .tab-content {
    flex-direction: column;
  }
}