.wb-main {
    padding: 30px;
    text-align: center;
}

.wb-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
  background: linear-gradient(to bottom, #eee, white, white);
  border: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  text-align: left;
  color: grey;
}

.wb-title {
  text-align: center;
  font-size: 24px;
  color: black;
  margin-bottom: 20px;
}

.wb-label {
  font-size: 14px;
}

.wb-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.wb-form input,
.wb-form select,
.wb-form textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  background-color: white;
  color: grey;
}
